/*This is the stylesheet for Uniview Buttons. This will be used to render a preview of buttons */)
/*
Bluntly stolen from jquery mobile. I want their grid layout but nothing else.
*/
.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c { width: 33.25%; }
.ui-grid-b > :nth-child(n) { width: 20%; margin-right: -.5px; }
.ui-grid-b .ui-block-a { clear: left; }
.ui-grid-c > :nth-child(n) { width: 30%; margin-right: -.5px}
.ui-grid-c .ui-block-a { clear: left }
.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d, .ui-grid-e, .ui-grid-f, .ui-grid-g { overflow: hidden; }
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.ui-grid-d .ui-block-a, .ui-grid-d .ui-block-b, .ui-grid-d .ui-block-c, .ui-grid-d .ui-block-d, .ui-grid-d.ui-block-e, .ui-grid-d.ui-block-f  { width: 8.3333%; }
.ui-grid-d > :nth-child(n) { width: 8.3333%; margin-right: -.5px}
.ui-grid-d .ui-block-a { clear: left }
.ui-grid-e .ui-block-a { width: 11.1%; }
.ui-grid-e > :nth-child(n) { width: 11.1%; margin-right: -.5px}
.ui-grid-e .ui-block-a { clear: left }
.ui-grid-f .ui-block-a { width: 10%; }
.ui-grid-f > :nth-child(n) { width: 10%; margin-right: -.5px}
.ui-grid-f .ui-block-a { clear: left }
.ui-grid-g > :nth-child(n) { width: 16.5%; margin-right: -.5px; }
.ui-grid-g .ui-block-a { clear: left; }
/*
End of jquery mobile theft
*/

body
{
	background: #111111;
	background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#111111));
	background: -moz-linear-gradient(top,  #111111,  #111111);
	color: #FFAE00;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 16px;
}

h1
{
	background-color: #000000;
	color: #ff11111;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 22px;
	padding: 3px;
}

h2
{
	background-color: #111111;
	color: #ff11111;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 16px;
	padding: 0px;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	height: 45px;
	width: 90%;
	border-radius: 2em;
	border: 2px #FFAE00 solid;
	margin: 12px;
	padding: 5px;
	background: #331111;
	background: -webkit-gradient(linear, left top, left bottom, from(#221111), to(#111111));
	background: -moz-linear-gradient(top,  #221111,  #111111);	
	color: #FFAE00;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 18px;
}

.uv-message-button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	height: 45px;
	width: 90%;
	border-radius: 2em;
	border: 2px #FFAE00 solid;
	margin: 12px;
	padding: 5px;
	background: #331111;
	background: -webkit-gradient(linear, left top, left bottom, from(#221111), to(#111111));
	background: -moz-linear-gradient(top,  #221111,  #111111);	
	color: #FFAE00;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 18px;
}

.uv-toggle-off {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	height: 45px;
	width: 90%;
	border-radius: 2em;
	border: 2px #FFAE00 solid;
	margin: 12px;
	padding: 5px;
	background: #331111;
	background: -webkit-gradient(linear, left top, left bottom, from(#221111), to(#111111));
	background: -moz-linear-gradient(top,  #221111,  #111111);	
	color: #FFAE00;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 18px;
}

.uv-toggle-on {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	height: 45px;
	width: 90%;
	border-radius: 2em;
	border: 2px #00FBFF solid;
	margin: 12px;
	padding: 5px;
	background: #113311;
	background: -webkit-gradient(linear, left top, left bottom, from(#112211), to(#111111));
	background: -moz-linear-gradient(top,  #112211,  #111111);	
	color: #00FBFF;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 18px;
}

.uv-reset-button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	height: 45px;
	width: 90%;
	border-radius: 2em;
	border: 2px #FFAE00 solid;
	margin: 12px;
	padding: 2px;
	background: #331111;
	background: -webkit-gradient(linear, left top, left bottom, from(#221111), to(#111111));
	background: -moz-linear-gradient(top,  #221111,  #111111);	
	color: #FFAE00;
	font-family: Whitney Semibold, Arial, sans-serif;
	font-size: 18px;
}

#touchleft
{
	position:absolute; 
	left:0px; 
	width:300px; 
	top:1008px; 
	height:300px;
	background: #999999;
}

#touchright
{
	position:absolute; 
	right:0px; 
	width:300px; 
	top:1008px; 
	height:300px;
	background: #999999;
}

input[type="range"] {
	-webkit-appearance:none;
	height:6px;
	width:30%; 
}

input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
	-moz-appearance:none;
    width: 48px;  
    height: 48px;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F9FA), to(#F5F6F7));
	-webkit-border-radius:16px;
	-moz-border-radius:16px;	
}

.uv-tabs li {
	position:relative;
	font-size:18px;
	text-align: center;
	color:#AA8800;
	height: 20px;
	padding:12px;
	margin:12px;
	font-weight:bold;
	display:inline-block;
	border-radius: 2em;
	border: 2px #332200 solid;
	background:#221111;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#221111), to(#111111));

}

.uv-tabs li.uv-selected {
	background:#332200;
	padding:12px;
	height: 20px;
	color:#FFAE00;
	border: 2px #FFAE00 solid;
}

#tabSelector {
	border-top:0;
}

#tabs {
	height:1375px;
	background:#111111;
}

#tabs li div {
	padding:13px 12px;
}
